body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 120px;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 8px;
}
